<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender" >
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd' 'HH:mm:ss' '}] [%C] [%t] [%L] [%-5p] %m%n
			</pattern>
		</encoder>
	</appender>	
	
	<appender name = "ToFile" class = "ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd' 'HH:mm:ss' '}] [%C] [%t] [%L] [%-5p] %m%n
			</pattern>
		</encoder>
		<file>.logs/applogs.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>.logs/archived/applogs_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
			<maxFileSize>3MB</maxFileSize>
			<maxHistory>15</maxHistory>
			<totalSizeCap>50MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="ToFile"/>
	</root>
	
	<logger name = "org.hibernate" additivity="false" level="INFO">
		<appender-ref ref="ToFile"/>
	</logger>
	
	<logger name = "org.spring.web" additivity="false" level="INFO">
		<appender-ref ref="ToFile"/>
	</logger>
	
	<logger name = "Sebastian.demo" additivity="false" level="DEBUG">
		<appender-ref ref="ToFile"/>
	</logger>
	
</configuration>
